In [1]:
import numpy as np
import pandas as pd
import os, sys
import codecs
import utm
from scipy.io import savemat

In [2]:
cwd = os.getcwd()

In [36]:
df

               0         1       2                3
16    01/01/2002  00:00:00  211.53  200 (Unbekannt)
17    02/01/2002  00:00:00  211.52  200 (Unbekannt)
18    03/01/2002  00:00:00  211.52  200 (Unbekannt)
19    04/01/2002  00:00:00  211.52  200 (Unbekannt)
20    05/01/2002  00:00:00  211.52  200 (Unbekannt)
...          ...       ...     ...              ...
7529  28/07/2022  00:00:00  211.39  200 (Unbekannt)
7530  29/07/2022  00:00:00     ---        255 (255)
7531  30/07/2022  00:00:00     ---        255 (255)
7532  31/07/2022  00:00:00     ---        255 (255)
7533  01/08/2022  00:00:00     ---        255 (255)

[7518 rows x 4 columns]

In [35]:
directory_name = "/Piezometri_W.ABST_TagMittel_Trentino"
file_name = "/83325GW_BozenGiovannidiVittorio_BolzanoGiovannidiVittorio_W.ABST_TagMittel"
original_file_type = ".csv"
path = '/Users/andrewwilder/Desktop/girotto_lab/Piezometri_W.ABST_TagMittel_Trentino/'
#change last part depending on imported file type
for i in os.listdir(path):
    try:
        file_path = path + i
        df = pd.read_csv(file_path, sep=';', header = None, encoding = 'iso-8859-1')
        df = df[16:]
        df = df[0].str.split('\t', expand=True)
        df[2] = df[2].str.replace(',', '.')
        mini = df[0].values[0][-4:]
        maxi = df[0].values[-1][-4:]
        df.to_excel(f'/Users/andrewwilder/Desktop/girotto_lab/processed_data/Piezometri_processed/{i}_{mini}_{maxi}.xlsx')
    except:
        pass

'2022'

In [15]:
directory_name = "/Piezometri_W.ABST_TagMittel_Trentino"
file_name = "/23580GW_MarlingBarHanny_MarlengoBarHanny_W.ABST_TagMittel"
original_file_type = ".csv"
#change last part depending on imported file type
file_path = cwd + directory_name + file_name + original_file_type
data = pd.read_csv(file_path, sep=';', header = None, encoding = 'iso-8859-1')
data

                                         0
0       Stationsmessort:\tGrundwasser / UT
1         Stationsname:\tMarling Bar Hanny
2                 Stationsnummer:\t23580GW
3            Lokale Koordinaten X:\t664280
4           Lokale Koordinaten Y:\t5168902
...                                    ...
7529  28/07/2022\t00:00:00\t---\t255 (255)
7530  29/07/2022\t00:00:00\t---\t255 (255)
7531  30/07/2022\t00:00:00\t---\t255 (255)
7532  31/07/2022\t00:00:00\t---\t255 (255)
7533  01/08/2022\t00:00:00\t---\t255 (255)

[7534 rows x 1 columns]

In [16]:
cwd = os.getcwd()

directory_name = "/Piezometri_W.ABST_TagMittel_Trentino"

for files in os.listdir(cwd + directory_name):
    if files.endswith(original_file_type):
        df = pd.read_csv(file_path, sep=';', header = None, encoding = 'iso-8859-1')
    
df.head(10)

                                           0
0         Stationsmessort:\tGrundwasser / UT
1           Stationsname:\tMarling Bar Hanny
2                   Stationsnummer:\t23580GW
3              Lokale Koordinaten X:\t664280
4             Lokale Koordinaten Y:\t5168902
5                              MPH:\t284,795
6                     Parametername:\tW.ABST
7                      Parametertyp:\tW.ABST
8  Name des Parametertyps:\tGrundwasserstand
9             Name der Zeitreihe:\tTagMittel

In [17]:
x = 0

for reverse_index in df.index[::-1]:
    if df[0][reverse_index][20:23] != "---":
        x = reverse_index
        break

def reformat(df):

            
    arr_1 = []
    arr_2 = []
    arr_3 = []
    arr_4 = []
    arr_5 = []
    arr_6 = []
    arr_7 = []
    arr_8 = []
    arr_9 = []
    arr_10 = []
    arr_11 = []

    for index in df.index[16:x]:
        arr_1 = np.append(arr_1, df[0][0][17:-4])
        arr_2 = np.append(arr_2, df[0][1][14:])
        arr_3 = np.append(arr_3, df[0][2][16:])
        arr_4 = np.append(arr_4, float(df[0][3][22:28]))
        arr_5 = np.append(arr_5, float(df[0][4][22:28]))
        arr_6 = np.append(arr_6, df[0][index][:10])
        arr_7 = np.append(arr_7, df[0][index][11:19])
        arr_8 = np.append(arr_8, df[0][index][20:23])
        arr_9 = np.append(arr_9, df[0][index][24:26])
        arr_10 = np.append(arr_10, df[0][index][27:30])
    
        
    wowwee = {"Station Location": arr_1,
                "Station Name" : arr_2, 
                "Station ID" : arr_3,
                "Local Coordinates X" : arr_4,
                "Local Coordinates Y" : arr_5,
                "Date" : arr_6,
                "Time" : arr_7,
                "Value [m]" : arr_8,
                "GW_Level": arr_9,
                "Val_2": arr_10}
    
    data = pd.DataFrame(data = wowwee)
    
    return data

In [23]:
r

,Station Location,Station Name,Station ID,Local Coordinates X,Local Coordinates Y,Date,Time,Value [m],GW_Level,Val_2,UTM_Lat,UTM_Long
0,Grundwasser,Marling Bar Hanny,23580GW,664280.0,516890.0,01/01/2002,00:00:00,277,39,40,4.674796,10.481074
1,Grundwasser,Marling Bar Hanny,23580GW,664280.0,516890.0,02/01/2002,00:00:00,277,36,40,4.674796,10.481074
2,Grundwasser,Marling Bar Hanny,23580GW,664280.0,516890.0,03/01/2002,00:00:00,277,36,40,4.674796,10.481074
3,Grundwasser,Marling Bar Hanny,23580GW,664280.0,516890.0,04/01/2002,00:00:00,277,35,40,4.674796,10.481074
4,Grundwasser,Marling Bar Hanny,23580GW,664280.0,516890.0,05/01/2002,00:00:00,277,33,40,4.674796,10.481074
...,...,...,...,...,...,...,...,...,...,...,...,...
7319,Grundwasser,Marling Bar Hanny,23580GW,664280.0,516890.0,15/01/2022,00:00:00,277,54,200,4.674796,10.481074
7320,Grundwasser,Marling Bar Hanny,23580GW,664280.0,516890.0,16/01/2022,00:00:00,277,53,200,4.674796,10.481074
7321,Grundwasser,Marling Bar Hanny,23580GW,664280.0,516890.0,17/01/2022,00:00:00,277,52,200,4.674796,10.481074
7322,Grundwasser,Marling Bar Hanny,23580GW,664280.0,516890.0,18/01/2022,00:00:00,277,51,200,4.674796,10.481074
7323,Grundwasser,Marling Bar Hanny,23580GW,664280.0,516890.0,19/01/2022,00:00:00,277,50,200,4.674796,10.481074

In [18]:
#data.to_excel(cwd + "/processed_data"+ directory_name + "_processeed/" + files[:-4] + ".xlsx", index = False)

In [24]:
r = reformat(data)
r['Latitude'] = utm.to_latlon(r['Local Coordinates X'], r['Local Coordinates Y'], 32, 'T')[0]
r['Longitude'] = utm.to_latlon(r['Local Coordinates X'], r['Local Coordinates Y'], 32, 'T')[1]

In [32]:
cwd = os.getcwd()

whole_table = pd.DataFrame()

directory_name = "/Piezometri_W.ABST_TagMittel_Trentino"
original_file_type = ".csv"
#change last part depending on imported file type

for files in os.listdir(cwd + directory_name):
    if files.endswith(original_file_type):
                
        if not (os.path.exists(cwd + "/processed_data"+ directory_name + "_processed")): 
            os.makedirs(cwd + "/processed_data"+ directory_name + "_processed")
        
        file_path = cwd + directory_name + "/" + files
        
        #if original file type isn't excel change pd.read_excel
        data = pd.read_csv(file_path, sep=';', header = None, encoding = 'iso-8859-1')
        
        for reverse_index in data.index:
            if df[0][reverse_index][20:23] == "---":
                x = reverse_index
                break

        
        data = reformat(data)
        whole_table = whole_table.append(data)
        data = data[['Station ID', 'Date', 'GW_Level']]

        
        data.to_excel(cwd + "/processed_data"+ directory_name + "_processed/" 
                      + data['Station ID'][0] + "_" + data['Date'].min()[-4:] + "_" + data['Date'].max()[-4:] + ".xlsx", index = False)
        
        if not (os.path.exists(cwd + "/processed_data" + directory_name + "_processed/mat_files/")): 
                os.makedirs(cwd + "/processed_data" + directory_name + "_processed/mat_files/")
        savemat(cwd + "/processed_data" + directory_name + "_processed/mat_files/" + data['Station ID'][0] + "_" +
                data['Date'].min()[-4:] + "_" + 
                data['Date'].max()[-4:] + ".mat", data)

In [35]:
whole_table.to_excel(cwd + "/processed_data" + directory_name + "_processed/COMBINED_PIEZOMETRI_TABLE.xlsx")

In [36]:
static_table = pd.DataFrame()
x_arr = []
y_arr = []

for i, j in zip(whole_table['Station ID'].unique(), range(len(whole_table['Station ID'].unique()))):
    holder = whole_table[whole_table['Station ID'] == i]
    static_table = static_table.append(holder.head(1))
    if type(whole_table['Local Coordinates X'][0].values[j]) == str:
        x = float(whole_table['Local Coordinates X'][0].values[j].replace("," , "."))
    else:
        x = whole_table['Local Coordinates X'][0].values[j]
        
    if type(whole_table['Local Coordinates Y'][0].values[j]) == str:
        y = float(whole_table['Local Coordinates Y'][0].values[j].replace("," , "."))
    else:
        y = whole_table['Local Coordinates Y'][0].values[j]
    print(x, y)
    x_arr = np.append(x_arr, utm.to_latlon(x, y, 32, 'T')[0])
    y_arr = np.append(y_arr, utm.to_latlon(x, y, 32, 'T')[1])

KeyError: 'Local Coordinates X'

In [22]:
static_table['UTM_Lat'] = x_arr
static_table['UTM_Long'] = y_arr
static_table

Empty DataFrame
Columns: [UTM_Lat, UTM_Long]
Index: []

In [ ]:
static_table = static_table[['Station Location', 'Station Name', 'Station ID', 'Val_2', 'UTM_Lat', 'UTM_Long']]
hold = pd.DataFrame()
for i in static_table['Station ID'].unique():
    x = static_table[static_table['Station ID'] == i].head(1)
    hold = hold.append(x)
    
hold.to_excel(cwd + "/processed_data"+ directory_name + "_processed/STATIC_PIEZOMETRI_TABLE.xlsx")